.dialogs {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.users {
    
}

.users a {
    text-decoration: none;
}

a.active {
    background-color: rgb(0, 204, 255);
    text-decoration: underline;
}

.messsages {

}

.messsages .messsage {

}
