.dialogs {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 8fr;
    gap: 30px;
    background-color: rgb(243, 241, 241);
}

.users {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(160, 160, 160);
}

.active {
    background: rgb(53, 55, 56);
    color: #fff;
}

.user a.active {
    background: rgb(53, 55, 56);
    color: #fff;
}

.users .user {
    margin: 5px;
    padding: 5px;
    color: rgb(61, 55, 61);
}

.messsages {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
    height:400px;
    overflow:auto;
    background-color: rgb(240, 240, 240);
}

.messsages .messsage {
    padding: 5px;
    margin: 10px;
    width: 50%;
}

.send_message {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageTextarea {
    width: 90%;
    height: 30px;
    margin-right: 5px;
}

.send_message_btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(32, 30, 32);
    color: #fff;
    font-size: .8em;
    font-weight: 700;
  }
  
  .send_message_btn:hover {
    background: rgb(59, 56, 59);
  }

.fromMe {
    color: rgb(34, 33, 33);
    float: right;
    background: rgb(180, 88, 241);
    border-radius: 10px 10px 0 10px;
}

.fromMe:hover {
    background: rgb(151, 74, 202);
}

.fromFriend {
    color: rgb(34, 33, 33);
    float: left;
    background: rgb(226, 228, 138);
    border-radius: 10px 10px 10px 0;
}

.fromFriend:hover {
    background: rgb(253, 255, 158);
}
