.profilePhoto {
    width: 15vw;
    margin-top: 15px;
}

.selectedPage {
    border: 1px solid rgb(255, 105, 180);
}

.preloader {
    width: 50%;
}

span {
    margin: 10px;
    padding: 5px;
    background: rgb(255, 228, 241);
    cursor: pointer;
}

span:hover {
    background: rgb(252, 125, 189);
}