div {
    position: relative;
}
.profilePhoto {
    width: 15vw;
    margin-top: 15px;
}

.selectedPage {
    background: rgb(255, 105, 180);
}

.preloader {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
}

span {
    margin: 10px;
    padding: 5px;
    background: rgb(255, 228, 241);
    cursor: pointer;
}

span:hover {
    background: rgb(255, 160, 207);
}

button:disabled {
    background: rgb(131, 131, 131);
}