.nav {
  grid-area: n;
  background-color: #5bccf6;
  border: 2px solid #fff;
  padding: 15px;
  border-radius: 0 20px 20px 0;
}

.item {
  margin-bottom: 10px;
  padding: 5px;
}

.item.active {
  background-color: #f5b3a7;
  border-radius: 20px;
}

.item:hover {
  background-color: rgb(91, 133, 172);
  border-radius: 20px;
}
