.nav {
  grid-area: n;
  background-color: #5bccf6;
  border: 2px solid #fff;
  padding: 15px;
  border-radius: 0 20px 20px 0;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav a.active {
  background-color: #fdfb797c;
  border-radius: 20px 20px 0 20px;
}

.nav a.active:hover {
  background-color: #fdfb797c;
  border-radius: 20px 20px 0 20px;
}

.nav a:hover {
  background-color: #fdfb797c;
  border-radius: 20px;
}

.item {
  margin-bottom: 10px;
  padding: 5px;
}

