.error {
    outline: 2px solid rgb(221, 71, 71);
}

.error_alert {
    font-size: 10px;
    position: absolute;
    
}

.input {
    height: 30px;
}

.error_box {
    background: rgb(250, 155, 155);
    border-radius: 10px;
    color: rgb(204, 66, 57);
    display: block;
    text-align: center;
}

.login_btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: rgb(32, 30, 32);
    color: #fff;
    font-size: .8em;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
}

  