.post {
  display: flex;
  border: 1px solid rgba(59, 59, 59, 0.363);
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px;
}

.post_avatar {
  border-radius: 50px !important;
  width: 50px !important;
  height: 50px !important;
  margin-right: 10px;
}

.author {
  font-weight: 800;
}

.post_text {
  width: 40vw;
  padding: 5px;
  border-radius: 5px;
}

.likes {
  font-style: italic;
  width: 30px;
  cursor: pointer;
}