.app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
}

.header {
  grid-area: h;
  background-color: rgb(214, 74, 81);
}

.nav {
  grid-area: n;
  background-color: rgb(194, 128, 255);
}

.content {
  grid-area: c;
  background-color: rgb(251, 173, 173);
}

ul {
  list-style: none;
}
