body {
  background-color: #f6f487;
}

.app_wrapper {
  margin: 10px 20px;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 10fr 2fr;
  gap: 10px;
  grid-template-areas:
    "h h"
    "c n"
    "f f";
}

.content {
  padding: 0 20px;
  grid-area: c;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  display: grid;
  gap: 20px;
}