body {
  background-color: #e3fdfd;
}

.app-wrapper {
  margin: 10px 30px;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 3fr 10fr;
  row-gap: 10px;
  grid-template-areas:
    "h h"
    "n c";
}

.header {
  grid-area: h;
  background-color: #a6e3e9;
}

.nav {
  grid-area: n;
  background-color: #cbf1f5;
}

.profile {
  padding: 0 20px;
  grid-area: c;
  background-color: #fff;
}

.profile > img {
  width: 45vw;
}

ul {
  list-style: none;
}
