body {
  background-color: #333;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
  font-size: 18px;
  margin: 0;
}

body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.app_wrapper {
  display: grid;
  grid-template-rows: 70px 270px 1fr 50px;
  grid-template-columns: 1fr 6fr 2fr 1fr;
  gap: 10px;
  grid-template-areas:
    "h h h h"
    ". c n ."
    ". c . ."
    ". f f .";
}

.content {
  padding: 20px 40px;
  grid-area: c;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 1px solid #fff;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .app_wrapper {
    margin: 5px;
    display: grid;
    grid-template-rows: 70px 250px 1fr 50px;
    grid-template-columns: 1fr 8fr 3fr 1fr;
    gap: 10px;
    grid-template-areas:
      "h h h h"
      ". c c b"
      ". c c ."
      ". f f .";
  }

  .content {
    padding: 20px 40px;
    grid-area: c;
    background-color: #fff;
    border-radius: 20px;
    color: #333;
  }
}